body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 50%;
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.info h2 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

.info p {
  font-size: 1em;
  color: #666;
}

.form {
  margin-top: 20px;
}

.form input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* ensures padding is included in width */
}

.form button {
  margin-top: 10px;
  padding: 10px 11px;
  background: #74ebd5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 16px;
  box-sizing: border-box; /* ensures padding is included in width */
  height: 40px; /* explicitly setting height to match input */
}

.form button:hover {
  background: #acb6e5;
}

.weather {
  margin-top: 20px;
}

.weather p {
  font-size: 1.2em;
  color: #333;
  margin: 5px 0;
}
